<div class="background bg-white">
  <div class="container text-center">
    <div class="row row-cols-2">
      <div class="col p-2">
        <h1 class="heading-one">Animal Welfare Committee, IIT Ropar</h1>
        <h5>
          "The animals of the planet are in desperate peril … It is time for all
          of us to stand up and demand action on their behalf." - Jane Goodall
        </h5>
      </div>
      <div class="col">Column</div>
      <div class="col">Column</div>
      <div class="col">Column</div>
    </div>
  </div>
</div>
