<div id="footer">
  <div class="footer-top">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Animal Welfare Committee</h3>
            <p>
              <i class="bi bi-pin-map-fill"></i><br />
              IIT Ropar Main Campus <br />
              Bara Phool, Rupnagar, Punjab <br />

              <br />
              <i class="bi bi-telephone"></i>
              <br />
              Priya Bhakar:
              <span itemprop="telephone"
                ><a href="tel:+ 918946851741"> +91 894 685 1741</a></span
              >
              <br />
              Rahul Nadda:
              <span itemprop="telephone"
                ><a href="tel:+ 918628818063"> +91 862 881 8063</a></span
              >
              <br /><br />
              <i class="bi bi-whatsapp"></i> <br />For technical issues:

              <br />
              Sneha Shah:
              <span itemprop="telephone"
                ><a href="https://wa.me/918868070206" target="_blank"
                  >+91 886 807 0206</a
                >
              </span>

              <br /><br />
              <i class="bi bi-envelope"></i> <br />For Official purposes:
              <a href="mailto: chair.animalwelfare@iitrpr.ac.in" class="gmail"
                >chair.animalwelfare@iitrpr.ac.in</a
              >
            </p>
            <!--<div class="social-links mt-3">
                <a href="mailto: chair.animalwelfare@iitrpr.ac.in" class="gmail"><i class="bi bi-envelope"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>-->
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Key Links</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="https://www.iitrpr.ac.in/" target="_blank">IIT Ropar</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a
                href="https://www.instagram.com/arturo_iitrpr/"
                target="_blank"
                >Arturo <small> (Photography Club)</small></a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="https://www.iitrpr.ac.in/ismp/" target="_blank">ISMP</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a
                href="https://sites.google.com/site/ropariprcell/?pli=1"
                target="_blank"
                >IPR Cell</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a
                href="https://www.iitrpr.ac.in/counselling-cell-old"
                target="_blank"
                >Snehita Well Being Cell</a
              >
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Societies at IIT Ropar</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a
                href="https://www.instagram.com/pehchaan_ek_safar_iitrpr/"
                target="_blank"
                >Pehchan-Ek Safar</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a
                href="https://www.instagram.com/enactus_iitrpr/"
                target="_blank"
                >ENACTUS</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="https://www.instagram.com/ecell_iitrpr/" target="_blank"
                >E-Cell</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a
                href="https://www.instagram.com/swe_iitropar/?hl=en"
                target="_blank"
                >SWE</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="https://www.iitrpr.ac.in/womensforum/" target="_blank"
                >Women's Fourm</a
              >
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>If we take the chances, to change circumstances</h4>
          <p>
            Just one hand can heal another, Be a part, Reach your heart Just one
            spark starts the fire<br />
            <br />
            With one little action, the chain reaction will never stop
            <br />
            <br />
            Shine a light, and send it on!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright
      <strong
        ><span
          >AWC
          <a href="https://www.iitrpr.ac.in/" target="_blank"
            >IIT Ropar</a
          ></span
        ></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      Created with
      <a href="https://www.linkedin.com/in/sneha-shah-iitropar/" target="_blank"
        ><i class="bi bi-heart"></i
      ></a>
    </div>
  </div>
</div>
<!-- End Footer -->
