<nav
  class="nav-menu d-flex p-2 fixed-top justify-content-center align-items-center"
  [ngClass]="{ scrolled: isScrolled }"
>
  <div class="logo me-auto ms-5">AWC</div>
  <div class="mx-auto">
    <a
      (mouseenter)="onHoverIn(1)"
      (mouseleave)="onHoverOut(1)"
      (click)="onClick(1)"
      class="nav-link mx-3 active-nav"
      routerLink="home"
      >Home</a
    >
    <a
      (mouseenter)="onHoverIn(2)"
      (mouseleave)="onHoverOut(2)"
      (click)="onClick(2)"
      class="nav-link mx-3"
      routerLink="initiatives"
      >Initiatives
    </a>
    <a
      (mouseenter)="onHoverIn(3)"
      (mouseleave)="onHoverOut(3)"
      (click)="onClick(3)"
      class="nav-link mx-3"
      routerLink="gallery"
      >Gallery</a
    >
    <a
      (mouseenter)="onHoverIn(4)"
      (mouseleave)="onHoverOut(4)"
      (click)="onClick(4)"
      class="nav-link mx-3"
      routerLink="donation"
      >Donate</a
    >
    <a
      (mouseenter)="onHoverIn(5)"
      (mouseleave)="onHoverOut(5)"
      (click)="onClick(5)"
      class="nav-link mx-3"
      href="#"
      >Acts</a
    >
    <a
      (mouseenter)="onHoverIn(6)"
      (mouseleave)="onHoverOut(6)"
      (click)="onClick(6)"
      class="nav-link mx-3"
      href="home#footer"
      >Contact us</a
    >
    <div class="dot active-link-1" id="dot"></div>
  </div>
  <div class="btn btn-danger ms-auto me-5 px-3" (click)="onFAQButtonClicked()">
    FAQs
  </div>
</nav>
