<div class="header d-flex flex-column w-100 text-center justify-content-center">
  <div data-aos="fade-up" data-aos-delay="150">
    <h4 class="text-white">Indain Institute of Technology Ropar</h4>
    <h1 class="">Animal Welfare<br />Committee</h1>
    <h4 class="text-white">
      Taking the chances &nbsp; • &nbsp; To change circumstances
    </h4>
  </div>
  <div
    (mouseenter)="onHoverIn()"
    (mouseleave)="onHoverOut()"
    class="donate-btn container hover mt-5 py-4 px-5 border border-white d-flex flex-column justify-content-center"
    data-aos="zoom-in"
  >
    <i class="fa-solid fa-gift fa-2xl text-white mb-4 mt-4 hover"></i>
    <h3 class="text-white hover">Donate</h3>
  </div>
</div>
