.header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  text-align: center;
}

.donate-btn {
  width: 250px;
}

.header h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.header h4 {
  color: #ffffffbb;
  font-family: "Raleway", sans-serif;
}

.hover {
  transition: ease-in-out 0.3s;
}

.hover:hover {
  cursor: pointer;
}
