background-image-donation-page {
  height: 100vh;
}

img {
  width: auto;
  height: 60vh;
  display: block;
  margin: auto;
}
h1 {
  font-size: 36px;
  margin: 100px 0 25px 0;
}
p {
  font-size: 18px;
  margin: 0;
}
