<div class="text-center">
  <h1>Donations @ AWC IIT Ropar</h1>
  <h3>
    Whether it's a one-time donation or a monthly commitment.<br />Every little
    bit helps.
  </h3>

  <div>
    <img
      src="assets/images/donation/qr.jpeg"
      alt="QR Code"
      class="responsive"
      style="border-radius: 5%"
      width="200"
      height="327"
    />
  </div>
  <br />
  <p style="font-size: 0.8em">
    *All donations will be used exclusively for the care and welfare of animals
    at IIT Ropar. <br />
    We are extremely grateful for your support and we assure you that your
    donation will make a real difference.<br />Thank you for your kindness and
    compassion towards animals.
  </p>
</div>
