<div class="w-100 bg-danger" id="FAQs">
  <div class="container py-5 text-white">
    <div
      class="d-flex align-items-center"
      data-aos="zoom-in"
      data-aos-delay="150"
    >
      FREQUENTLY ASKED QUESTIONS&nbsp;&nbsp;
      <div class="line"></div>
    </div>

    <div class="faq-accordian mt-5" data-aos="fade-up" data-aos-delay="300">
      <ul>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <h2>Why IIT Ropar needs an Animal Welfare Committee?</h2>
          <p>
            In a campus as expansive as IIT Ropar, encounters with wildlife are
            inevitable. Most of the time, it is not the animals invading our
            space but rather us intruding theirs.<br />
            It is not sustainable to eliminate animals, as every living being
            plays a role in maintaining the ecological balance of our
            environment.<br /><br />
            Therefore, it is in our best interest to coexist peacefully with
            them. However, without dedicated individuals to address the
            accompanying issues, the situation can quickly become chaotic.
            <br /><br />This is where the Animal Welfare Committee (AWC) steps
            in, we serve as the single point of contact for all animal-related
            concerns on campus, advocate for animal rights, and aim to educate
            the community in order to achieve true harmony.
          </p>
        </li>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <h2>
            If you claim to be an Animal Welfare Committee, why are you more
            concerned about dogs?
          </h2>
          <p>
            By chance or through the power of statistics, dogs are often the
            most prevalent animals in human-populated areas, leading to a
            majority of issues related to human-animal coexistence. <br />
            Currently, there are over 40 unvaccinated and unsterilized dogs on
            the IIT Ropar campus, posing a serious danger. Thus, our immediate
            focus is on addressing this issue. To ensure the dogs are healthy
            enough for vaccination and not aggressive, we feed them daily. We
            understand the importance of addressing this issue before moving on
            to other animals.<br /><br />Until then, we hope you understand the
            reason behind our workings.
          </p>
        </li>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <h2>
            I found a hurt/sick/orphaned wild animal/bird. What should I do to
            help?
          </h2>
          <p>
            Notify any designated member of the AWC Rescue Team (listed below)
            with the relevant information, including photographs, the location
            of the injured/sick/orphaned animal or bird, and your contact
            information. <br />
            <i class="bi bi-whatsapp text-white"></i>
            <br />
            Rahul Nadda (Phd 20'):
            <span itemprop="telephone"
              ><a href="https://wa.me/918628818063" target="_blank"
                >+91 862 881 8063</a
              >
            </span>
            <br />
            Ullas Shrivastava (M.Tech 22'):
            <span itemprop="telephone"
              ><a href="https://wa.me/916200284682" target="_blank"
                >+91 620 028 4682</a
              >
            </span>
            <br />
            Manisha Sehgal (M.Sc 21'):
            <span itemprop="telephone"
              ><a href="https://wa.me/918146568004" target="_blank"
                >+91 814 656 8004</a
              >
            </span>

            <br />
            Sneha Shah (B.Tech 21'):
            <span itemprop="telephone"
              ><a href="https://wa.me/918868070206" target="_blank"
                >+91 886 807 0206</a
              >
            </span>

            <br />
            Hitesh Sai (B.Tech 21'):
            <span itemprop="telephone"
              ><a href="https://wa.me/918500602776" target="_blank"
                >+91 850 060 2776</a
              >
            </span>
          </p>
        </li>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <h2>
            How many dog shelters are there on campus? and where are they
            located?
          </h2>
          <p>
            Total of 3 shelters are in existance.<br />
            1. Between Satluj and Beas hostel <br />
            2. Near Kerela Canteen<br />
            3. Near Workshop<br />
          </p>
        </li>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <h2>
            Why do our campus dogs have collars, and what do they signify?
          </h2>
          <p>
            Dogs are given collars to indicate they belong to our campus and to
            keep track of how many dogs come from outside.
          </p>
        </li>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <h2>Can I relocate a puppy?</h2>
          <p>
            NO. <br />As Dogs mature, they establish and defend their
            territories. The relocation of a young dogs may result in it
            becoming vulnerable to aggressive behavior from other territorial
            dogs.
          </p>
        </li>
        <li>
          <input type="checkbox" checked />
          <i></i>
          <h2>Can I feed Dogs?</h2>
          <p>
            One can feed the dogs at the feeding spots, but it's advised to be
            fully aware of what to feed them and what not to feed them.
            <br /><br />Some Dont's :<br />
            <br />1. Avoid foods that are toxic to dogs such as chocolate,
            onions, and grapes. <br />2. Do not feed them foods that contain
            macadamia nuts, as they can cause vomiting, hyperthermia and
            tremors. <br />3. Do not feed them moldy or spoiled food, as it can
            cause food poisoning. <br />4. Do not feed them raw eggs, as they
            can contain bacteria such as salmonella.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
